.product-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease; /* 👈 agrega esto */
}

/* Efecto hover */
.product-card:hover {
  background-color: #00a38d;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.product-card:active {
  transform: scale(1.1);  /* se agranda un poco más que el hover */
  transition: transform 0.1s ease; /* animación rápida */
}

.product-image {
  width: 100%;
  border-radius: 12px;       /* igual que el contenedor */
  object-fit: cover;         /* evita deformación */
}

.product-title {
  margin-top: 0.75rem;
  font-size: 1.2rem;
  color: #fff;
}
