.products-container {
  display: flex;           /* sets all the items in line */ 
  gap: 1rem;               /* separation between products */
  justify-content: center; /* centers horizontally */
  margin-top: 2rem;
}